        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <%= link_to "Apex", "#", :class => "brand" %>
              <div class="nav-collapse">
                <ul class="nav" id="top-fixed">  
                  <li <%if@title=="Home"%>class="active"<%end%>><%= link_to "Home", root_path %></li>
                  <li <%if@title=="About"%>class="active"<%end%>><%= link_to "About", about_path %><li>
                  <li <%if@title=="Store"%>class="active"<%end%>><%= link_to "Store", store_path %></li>
                  <li <%if@title=="Download"%>class="active"<%end%>><%= link_to "Download", download_path %></li>
                  <li <%if@title=="Support"%>class="active"<%end%>><%= link_to "Support", support_path %></li>
                </ul>
                <form class="navbar-search pull-left">
                  <input type="text" class="search-query" placeholder="Search">
                </form>
                <ul class="nav pull-right" id="top-fixed">
                  <% if signed_in? && current_user.activated? %>
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" >
                      <%= current_user.name %>
                      <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Profile", current_user%></li>
                      <li><%= link_to "Settings", edit_user_path(current_user)%></li>

                      <li><%= link_to "Users", users_path %></li>
                    </ul>
                  </li>
                  <% end %>
                  <li <%if@title=="bbs"%>class="active"<%end%>><%= link_to "BBS", "#" %></li>
                  <% if signed_in? && current_user.activated? %>
                  <li <%if@title=="signout"%>class="active"<%end%>><%= link_to "Sign out", signout_path, :method => :delete %></li>
                  <% else %>
                  <li <%if@title=="signin"%>class="active"<%end%>><%= link_to "Sign in", signin_path %></li>
                  <li <%if@title=="Signup"%>class="active"<%end%>><%= link_to "Sign up", signup_path %><li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      <header>
<!--
        <%= link_to logo, root_path%>
      
        <nav id="toplink">
          <ul>
            <% if signed_in? %>
            <li><%= link_to current_user.name, current_user %></li>
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li><%= link_to "Users", users_path %></li>
            <% else %>
            <li><%= link_to "Sign up", signup_path %></li>
            <% end %>
            <% if signed_in? %>
            <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
            <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
            <% end %>
            <li><%= link_to "BBS", "#" %></li>
          </ul>
        </nav>
      -->
        <nav id="main">
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Store", store_path %></li>
            <li><%= link_to "Download", download_path %></li>
            <li><%= link_to "Support", support_path%></li>
          </ul>
        </nav>
        
      </header>
