      <header>
        <%= link_to logo, root_path%>
        <nav id="toplink">
          <ul>
            <li><%= link_to "BBS", "#" %></li>
            <% if signed_in? %>
            <li><%= link_to "Profile", current_user %></li>
            <% end %>
            <li><%= link_to "Sign up", signup_path %></li>
            <% if signed_in? %>
            <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
            <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
            <% end %>
          </ul>
        </nav>
        <nav>
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Store", store_path %></li>
            <li><%= link_to "Download", download_path %></li>
            <li><%= link_to "Support", support_path%></li>
          </ul>
        </nav>
      </header>
