      <header>
        <%= link_to logo, root_path%>
        <nav id="toplink">
          <ul>
            <li><%= link_to "BBS", "#" %></li>
            <li><%= link_to "Sign up", signup_path %></li>
          </ul>
        </nav>
        <nav>
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Store", store_path %></li>
            <li><%= link_to "Download", download_path %></li>
            <li><%= link_to "Support", support_path%></li>
          </ul>
        </nav>
      </header>
