      <header>
        <%= logo = image_tag("logo.png", :alt => "Apex Studio", :class => "round") %>
        <%= link_to logo, root_path%>
        <nav class="round">
          <ul>
            <li><%= link_to "Home", 'home_path' %></li>
            <li><%= link_to "Download", 'download_path'%></li>
            <li><%= link_to "Store", 'store_path' %></li>
            <li><%= link_to "About", 'about_path'%></li>
          </ul>
        </nav>
      </header>
